asgiref==3.7.2
async-timeout==4.0.3
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.7.22
charset-normalizer==3.2.0
Django==4.2.4
django-environ==0.11.0
django-redis==5.3.0
django-storages==1.14
dropbox==11.36.2
getuseragent==0.0.7
greenlet==2.0.2
gunicorn==21.2.0
httplib2==0.22.0
idna==3.4
lxml==4.9.3
oauth2==1.9.0.post1
packaging==23.1
ply==3.11
psycopg2==2.9.7
pyparsing==3.1.1
python-dotenv==1.0.0
redis==5.0.0
redis-lru==0.1.2
requests==2.31.0
six==1.16.0
soupsieve==2.4.1
SQLAlchemy==2.0.20
sqlparse==0.4.4
stone==3.3.1
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
-e git+https://github.com/Petrenko-Anton/CloudHarbor.git@a92b775c83efdac963191a722a676b58a063e0bb#egg=WebAppTeam4
