{%extends 'contacts/base.html' %}

{% block content %}
<h1>Upload file</h1>
<form action="{% url 'files:upload' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">Опис</label>
        {{form.description}}
    </div>
    <div class="mb-3">
        <label class="form-label">Файл</label>
        {{form.path}}
    </div>
    <div class="mb-3">
        <label class="form-label">Категорія</label>
        {{form.category}}
    </div>
    <button type="submit" class="btn btn-primary">Надіслати</button>
</form>
{% endblock %}