{%extends 'contacts/base.html' %}

{% block content %}
<main class="container">
    <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
        {% for contact in contacts %}
        <ul>
            <li>
                {{ contact.first_name }} {{ contact.last_name }} {{ contact.email }} {{ contact.phone }} {{ contact.birth_day }}
                <a href="{% url 'contacts:editcontact' contact.id %}" role="button" class="contrast"> Edit contact </a>
                <a href="{% url 'contacts:deletecontact' contact.id %}" role="button" class="contrast"> Delete contact </a>
                <a href="{% url 'contacts:detailcontact' contact.id %}" role="button" class="contrast"> Detail contact </a>
            </li>
        </ul>
        {% endfor %}
    </nav>
</main>
{% endblock %}