{% extends "contacts/base.html" %}

{% block content %}
<div class="form-block">
    <h2>Вхід в аккаунт</h2>
    <br/>
    {% if messages %}
    <div class="alert alert-danger" role="alert">
        {% for message in messages %}
        <div {% if message.tags %} class="alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    <form action="{% url 'users:login' %}" method="post">
        {% csrf_token %}
        <div>
            <label> Логін:
                {{ form.username }}
            </label>
        </div>
        <div>
            <label>Пароль:
                {{ form.password }}
            </label>
        </div>
        <a href="/users/reset-password/" class="login-form__forgot-password-link">Забув пароль?</a>
        <div class="grid">
            <button type="submit">Увійти</button>
        </div>
        <p class="login-form__sign-up-link"><span>Відсутній аккаунт? </span><a href="/users/signup"> Зареєструватись</a></p>
    </form>
</div>

{% endblock %}