{% extends "contacts/base.html" %}

{% block content %}
<a href="/notes/notes" role="button">
    <svg class="back-icon" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>
    До списку нотатків</a>
<div class="form-block">
    <h2>Редагувати нотатку</h2>
    <br/>
    <form method="POST" action="{% url 'notes:edit_note' note.id %}">
        {% csrf_token %}
        <div>
            <label class="form-label"> 
                <p>Назва:</p>
                {{ form.name }}
            </label>
            <span>{{ form.errors.name }}</span>
        </div>
        <div>
            <label class="form-label"> 
                <p>Опис:</p>
                {{ form.description }}
            </label>
            <span>{{ form.errors.description }}</span>
        </div>
        <div class="dropdown">
            <label class="form-label"> 
                <p>Вибрати теги:</p>
                <select class="form-control form-select" style="height: 100px;" name="tags" multiple="multiple" required>
                    {% for tag in tags %}
                    <option value="{{tag.name}}">{{tag.name}}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
        <div class="grid">
            <button type="submit">Зберегти</button>
        </div>
    </form>
</div>

{% endblock %}