{%extends 'contacts/base.html' %}

{% block content %}
main class="container">
    <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
        {% if user.is_authenticated %}
    <ul>
        <li><a href="{% url 'notes:note' %}" role="button">Add note</a></li>
        <li><a href="{% url 'notes:tag' %}" role="button">Add Tag</a></li>
    </ul>
    {% for note in notes %}
    <ul>
        <li>
            {% if not note.done %}
            <a href="{% url 'notes:detail' note.id %}"tag.html role="button" class="outline"> {{ note.name }} </a>
            <a href="{% url 'notes:set_done' note.id %}" role="button"> Mark Done </a>
            <a href="{% url 'notes:delete' note.id %}" role="button" class="contrast"> Delete note </a>
            {% else %}
            <a href="{% url 'notes:detail' note.id %}" role="button" class="secondary"><s>{{ note.name }}</s></a>
            {% endif %}
        </li>
    </ul>
    {% endfor %}
    {% else %}

    {% endif %}
    </nav>


</main>
{% endblock %}