{%extends 'contacts/base.html' %}

{% block content %}
    <h1>Мої нотатки</h1>
    <div class="container text-center">
    <div class="d-grid gap-2 d-md-block">
        <a class="btn" href="{% url 'notes:note' %}" role="button">Додати нотаток</a>
        <a class="btn" href="{% url 'notes:tag' %}" role="button">Додати тег</a>
    </div>
    </div>
    <br/>
    <div class="row">
        {% for note in notes %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8"><h3 class="card-title">{{ note.name }}</h3></div>
                            <div class="col-4">
                                {% if not note.done %}
                                    <a href="{% url 'notes:set_done' note.id %}">
                                        <svg class="card-icon" xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 448 512"><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM337 209L209 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L303 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg></a>
                                    <a href="{% url 'notes:delete' note.id %}">
                                        <svg class="card-icon" xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 448 512"><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg></a>
                                {% else %}
                                    <div class="position-absolute top-0 start-100 translate-middle">
                                        <svg class="done-icon" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <p class="card-text">{{ note.description }}</p>
                        
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}