body {
  font-family: sans-serif;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.header-box {
    height: 80px;
    padding-bottom: 50px;
    margin-top: 40px;
}
.container {
    width: 970px;
}

.container .text-muted {
  margin: 20px 0;
}


.tags-box {
  text-align: right;
}

.tags-box h2 {
  margin-top: 0px;
}

.tag-item {
  display: block;
  margin: 4px;
}

.tag-font-1 {
  padding: 2px 5px;
  border-radius: 5px;
  color: white;
  background-color: #7CA3E6;
  font-size:28px;
}

.tag-font-2 {
    padding: 2px 5px;
  border-radius: 5px;
  color: white;
  background-color: #7CA3E6;
    font-size:27px;
}

.tag-font-3 {
      padding: 2px 5px;
  border-radius: 5px;
  color: white;
  background-color: #7CA3E6;
    font-size:26px;
}

.tag-font-4 {
      padding: 2px 5px;
  border-radius: 5px;
  color: white;
  background-color: #7CA3E6;
    font-size:25px;
}

.tag-font-5 {
      padding: 2px 5px;
  border-radius: 5px;
  color: white;
  background-color: #7CA3E6;
    font-size:24px;
}

.tag-font-6 {
      padding: 2px 5px;
  border-radius: 5px;
  color: white;
  background-color: #7CA3E6;
    font-size:23px;
}

.tag-font-7 {
      padding: 2px 5px;
  border-radius: 5px;
  color: white;
  background-color: #7CA3E6;
    font-size:22px;
}

.tag-font-8 {
      padding: 2px 5px;
  border-radius: 5px;
  color: white;
  background-color: #7CA3E6;
    font-size:21px;
}

.tag-font-9 {
      padding: 2px 5px;
  border-radius: 5px;
  color: white;
  background-color: #7CA3E6;
    font-size:20px;
}

.tag-font-10 {
      padding: 2px 5px;
  border-radius: 5px;
  color: white;
  background-color: #7CA3E6;
    font-size:19px;
}


.quote {
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid #333333;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #333333;
}

.quote small.author {
  font-weight: bold;
  color: #3677E8;
}

.quote span.text {
  display: block;
  margin-bottom: 5px;
  font-size: large;
  font-style: italic;
}

.quote .tags {
  margin-top: 10px;
}

.tag {
  padding: 2px 5px;
  border-radius: 5px;
  color: white;
  font-size: small;
  background-color: #7CA3E6;
}

a.tag:hover {
  text-decoration: none;
}

/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 6em;
  background-color: #f5f5f5;
}

.error {
  color: red;
}

.header-box {
  padding-bottom: 40px;
}

.header-box p {
  margin-top: 30px;
  float: right;
}

.author-details  {
  width: 80%;
}

.author-description {
  text-align: justify;
  margin-bottom: 20px;
}


.copyright {
  text-align: center;
}

.zyte {
  color: #f98;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    line-height: 1.1;
    color: inherit;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 50px;
    padding-right: 50px;
}

ul.pager {
    height:1em;
    margin-bottom: 100px;
    position: page;
}

.sticky-bottom {
    position: static;
    bottom: 0;
    margin-top: -20px;
}

.pager {
    padding-left: 0;
    margin: 22px 0;
    /* list-style:none; */
    /* text-align:center; */
}

.pager li {
    display: inline
}

.pager li>a,.pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 15px
}

.pager li>a:hover,.pager li>a:focus {
    text-decoration: none;
    background-color: #4582ec
}

.pager .next>a,.pager .next>span {
    float: right
}

.pager .previous>a,.pager .previous>span {
    float: left
}

.pager .disabled>a,.pager .disabled>a:hover,.pager .disabled>a:focus,.pager .disabled>span {
    color: #b3b3b3;
    background-color: #ffffff;
    cursor: not-allowed
}


.disabled {
    color: #b3b3b3;
    background-color: #ffffff;
    cursor: not-allowed
}