html {
  display: flex;
  flex-direction: column;
  height: 100%;
}
  
body {
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  background: #fefefe;
  margin-bottom: 60px;
  }
  
.container {
  min-width: 320px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  background: var(--main-bg-color);
  }

.navbar {
  background: var(--navbar-color);
  font-weight: bold;
  padding: 16px;
}

.navbar-brand {
  width: 50%;
}

.menu-link {
  padding: 8px;
}

.menu-link :hover {
  color: var(--hover-link-color);
}

.main-slider {
  max-height: 500px;
  width: auto;
  text-align: center;
}

.main-slider img {
  height: 500px;
  width: auto;
}

.short-info-block {
  min-height: 300px;
}

footer {
  text-align: center;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

.fa {
  font-size: 24px;
}

.main-content {
  background: var(--main-bg-color);
}