@import url(colors.css);
@import url(icons.css);
@import url(text.css);
@import url(navbar.css);
@import url(forms.css);
@import url(buttons.css);
@import url(notes.css);


html {
  display: flex;
  flex-direction: column;
  height: 90%;
  margin: 0;
  padding: 0;
}
  
body {
  font-size: 16px;
  background: var(--main-bg-color);
  margin-bottom: 60px;
  height: 100%;
}

.container {
  min-width: 320px;
  max-width: 1300px;
  min-height: 100%;
  background: var(--main-bg-color);
  padding: 0;
}

.header-row {
  padding: 0% 5%;
  background-color: var(--navbar-bg);
}

footer {
  text-align: center;
  vertical-align: middle;
  background-color: var(--footer-bg);
  color: var(--footer-color);
  height:40px;
  width:100%;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center
}

.main-content {
  background: var(--content-block);
  min-height: 820px;
  padding: 24px 32px;
  font-family: 'Montserrat', sans-serif;
}

.welcome-block {
  padding: 0;
  margin-left: 5%;
  margin-top: 8%;
  text-align: center;
}

.row {
  padding: 16px 0px;
}

.news-article-img {
  width: 100%;
  margin-bottom: 20px;
}

.filter-block, .currency-course {
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid var(--border-bottom);
}

.dropdown-toggle {
  margin-bottom: 12px;
}

.filter-file-block {
  padding: 16px;
  margin: 16px;
}

.filter-file-block .nav-link {
  color: var(--link-color);
  text-decoration: underline;
  border: 1px solid #ffffff;
  margin: 0px 8px;
}

.filter-file-block .nav-link.active {
  background-color: var(--card-bg-color);
  border: 1px solid var(--card-bg-color);
  color: var(--link-text-color);
}

.filter-file-block .nav-link:hover {
  color: var(--link-color);
  border: 1px solid var(--card-bg-color);
  background-color: var(--main-bg-color);
}

.weather-details {
  margin-top: 12px;
}

.tag-button {
  background-color: var(--tag-btn-color);
  border: 1px solid var(--button-color);
  border-radius: 5px;
  padding: 16px;
  margin: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: var(--link-text-color);
}

.tag-button:hover {
  color: var(--main-icon);
}

.tag-link-block {
  background-color: var(--card-bg-color);
  padding: 0px 8px;
  bottom: 0;
}

.tag-link-block a {
  color: var(--link-text-color);
  font-weight: 500;
  text-decoration: underline;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bs-primary);
}
