
{% extends 'contacts/base.html' %}

{% block content %}
<h1>Upload file</h1>
<form action="{% url 'files:edit' file.id %}" method="post">
    {% csrf_token %}
    <img src="{{file.path.url}}" class="card-img-top" alt="file">
    <div class="mb-3">
        <label class="form-label">Опис</label>
        <input type="text" class="form-control" value="{{file.description}}" name="description">
    </div>
    <!-- Приховане поле для категорії -->
    <input type="hidden" name="category" value="{{file.category}}">
    <button type="submit" class="btn btn-primary">Відправити</button>
</form>
{% endblock %}
