SECRET_KEY=<django_secret key from settings.py>

DATABASE_NAME=<your_postgres_db_name>
DATABASE_USER=<postgres_user>
DATABASE_PASSWORD=<postgres_userpassword>
DATABASE_HOST=<postgres_host>
DATABASE_PORT=<postgres_port>

EMAIL_HOST=<smtp....>
EMAIL_PORT=<...>
EMAIL_HOST_USER=<example@example.come>
EMAIL_HOST_PASSWORD=R<email_password>

WEATHER_API_KEY=<OpenWeatherMap API KEY>
USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/115.0.0.0 Safari/537.36


REDIS_HOST=<redis_host>>
REDIS_PORT=6379
REDIS_PASSWORD=<redis_password>

DROPBOX_APP_KEY
DROPBOX_APP_SECRET=orsh6t9q4ln6kje